<div class="logo-footer flex justify-center w-full mt-4 pb-8">
    <img src="/images/logo-rodape.webp" alt="Hospital Cardoso Fontes | Prefeitura do Rio" class="mx-auto" onerror="this.style.display='none'">
</div>
<script src="/js/app.js"></script>
<script>lucide.createIcons();</script>
</body>
</html>
